<body>
<section class="joueurs">
    <h2>Nos Joueurs</h2>
    <div class="filtres">
      <label for="poste">Poste</label>
      <select id="poste" class="poste-select" [(ngModel)]="selectedPoste">
        <option *ngFor="let p of postes" [value]="p">{{ p }}</option>
      </select>
    </div>
    <div class="joueurs-grid">
      <div class="joueur-card" *ngFor="let j of filteredJoueurs">
        <img [src]="j.photo" alt="{{ j.nom }}">
        <div class="info">
          <h3>{{ j.nom }}</h3>
          <p>{{ j.poste }}</p>
          <span>#{{ j.numero }}</span>
        </div>
      </div>
    </div>
  </section>
</body> 
<footer class="footer">
  <div class="footer-container">
    <!-- Bloc club -->
    <div class="footer-section">
      <h3>FC Lorient</h3>
      <p>Stade du Moustoir</p>
      <p>Rue du Moustoir, 56100 Lorient, France</p>
      <p>Tél : +33 2 97 00 00 00</p>

    </div>

    <!-- Bloc liens utiles -->
    <div class="footer-section">
      <h3>Liens utiles</h3>
      <ul>
        <li><a routerLink="">Accueil</a></li>
        <li><a routerLink="/boutique">Boutique</a></li>
        <li><a outerLink="/equipe">Joueurs</a></li>
        <li><a href="#">Classement</a></li>
        <li><a href="#">Prochain match</a></li>
      </ul>
    </div>

    <!-- Bloc mentions légales -->
    <div class="footer-section">
      <h3>Mentions légales</h3>
      <ul>
        <li><a href="#">Politique de confidentialité</a></li>
        <li><a href="#">Conditions d'utilisation</a></li>
        <li><a href="#">Cookies</a></li>
      </ul>
    </div>

    <!-- Bloc réseaux sociaux -->
    <div class="footer-section">
      <h3>Suivez-nous</h3>
      <div class="socials">
        <a href="https://twitter.com/FCLorient" target="_blank"> <img src="assets/rs/twitter.png" alt="Twitter" height="28px" width="28px"/> </a>
        <a href="https://www.instagram.com/fclorient/" target="_blank"><img src="assets/rs/insta.png" alt="Instagram" height="28px" width="28px"/> </a>
        <a href="https://www.facebook.com/FCLorient" target="_blank"><img src="assets/rs/facebook.png" alt="Facebook" height="28px" width="28px"/></a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 FC Lorient. Tous droits réservés.</p>
  </div>
</footer>
