<section class="matchs" style="display: flex; align-items: center; justify-content: center;">
    <div style="flex-grow: 1; text-align: center;">
      <h2>Prochain Match</h2>
      <div class="match-list" *ngIf="matchsAVenir && matchsAVenir.length > 0">
        <div class="match" style = "width: 60%;">
          <p class="date">{{ matchsAVenir[0].date | date: 'd MMMM yyyy' }}</p>
          <p class="teams">
            <img src="assets/Logo.png" style="height: 50px; margin-right: 100px; ">
            <span class="domicile">{{ matchsAVenir[0].domicile }}</span>
            vs
            <span class="exterieur">{{ matchsAVenir[0].exterieur }}</span>
            <img src="assets/Logo.png" style="height: 50px; margin-left: 100px ;">
          </p>
          <p class="lieu">{{ matchsAVenir[0].lieu }}</p>
        </div>
        
      </div>
      <div class="match-list" *ngIf="!matchsAVenir || matchsAVenir.length === 0">
        <p>Aucun match à venir n'est programmé pour le moment.</p>
      </div>
    </div>
    
  </section>
  
