<div class="login-container">
    <div class="login-card">
        <h2 class="title">Portail de Connexion</h2>
        <form (ngSubmit)="onLogin()">
            
            <div class="form-group">
                <label for="username">Email</label>
                <input 
                    type="text" 
                    id="username" 
                    name="username" 
                    [(ngModel)]="user.email" 
                    required 
                    placeholder="Entrez votre email"
                >
            </div>

            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input 
                    type="password" 
                    id="password" 
                    name="password" 
                    [(ngModel)]="user.password" 
                    required 
                    placeholder="Entrez votre mot de passe"
                >
            </div>

            <button type="submit" [disabled]="!isFormValid()" class="submit-button">
                Se connecter
            </button>
        </form>
        
        <p class="signup-link">
            Pas encore de compte ? <a routerLink="/register">S'inscrire</a> <!-- LIAISON ROUTERLINK MISE À JOUR -->
        </p>
    </div>
</div>
