<section class="carousel" >
  <div class="slides" [style.transform]="'translateX(-' + currentSlide * 100 + '%)'">
    <div class="slide" *ngFor="let article of articles">
      <img [src]="article.image" [alt]="article.titre" />
      <div class="caption">
        <h2>{{ article.titre }}</h2>
        <p>{{ article.resume }}</p>
      </div>
    </div>
  </div>
  <button class="prev" (click)="prevSlide()">❮</button>
  <button class="next" (click)="nextSlide()">❯</button>
</section>

<app-prochain-match [matchsAVenir]="matchsAVenir"></app-prochain-match>
<app-classement [getFocusedClassement]="classement"></app-classement>




<section class="classement-ligue1">
  <h2>Notre classement</h2>
  <div class="table-container">
    <table class="classement-table">
      <thead>
        <tr>
          <th>Pos.</th>
          <th>Logo</th>
          <th>Club</th>
          <th>Pts</th>
          <th>J</th>
          <th>G</th>
          <th>N</th>
          <th>P</th>
          <th>Diff.</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let club of getFocusedClassement" [class.is-lorient]="club.club === 'FC Lorient'">
          <td>{{ club.pos }}</td>
          <td><img src="assets/Logo.png" alt="logo" /></td>
          <td>{{ club.club }}</td>
          <td>{{ club.pts }}</td>
          <td>{{ club.j }}</td>
          <td>{{ club.g }}</td>
          <td>{{ club.n }}</td>
          <td>{{ club.p }}</td>
          <td>{{ club.diff }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>


---

<section class="articles-section">
  <h2>Derniers articles</h2>
  <div class="articles-grid">
    <div class="article-card" *ngFor="let article of paginatedArticles">
      <img [src]="article.image" [alt]="article.titre" />
      <div class="article-info">
        <h3>{{ article.titre }}</h3>
        <p>{{ article.resume }}</p>
      </div>
    </div>
  </div>
  <div class="pagination">
    <button (click)="prevPage()" [disabled]="currentPage === 1">Précédent</button>
    <span>Page {{ currentPage }} / {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Suivant</button>
  </div>
</section>


<footer class="socials">
  <a href="https://twitter.com/FCLorient" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
  <a href="https://www.instagram.com/fclorientofficiel/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
  <a href="https://www.facebook.com/FCLorient" target="_blank"><i class="fa-brands fa-facebook"></i></a>
</footer>